body {
  background-image: url(bg-icons-2.png);
}

.card {
  background-color: rgba(255, 255, 255, 0.24) ;
}

.contact-form-container {
    display: flex;
    text-align: left;
    justify-content: space-between;
    padding: 20px;
  }
  
  .contact-form {
    flex: 1;
    margin-right: 20px;
  }
  
  .contact-form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  