.img{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 56% 100%);
}

.shop:hover{
    background-color: rgb(235, 235, 235);
    transition: transform 0.3s ease;
    transform: scale(1.1);
}
.botaoSeta{
    height: auto;
    background-color: rgba(255, 255, 255, 0.5);
}

.botaoSeta:hover{
    background-color: rgba(255, 255, 255, 1);
}


.carrossel{
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    min-height: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 70px;
}

.inner{
    display: flex;
}

.item{
    min-height: 200px;
    min-width: 200px;
    padding: 14px;
}

.item img{
    border-radius: 50%;
    pointer-events: none;
}

.carrousel{
    cursor: grab;
    overflow: hidden;
}