.container {
    padding: 0 15px;
  }
  
  .slick-slide {
    padding: 0 10px;
  }
  
  .slick-list {
    margin: 0 -10px;
  }
  
  .slick-dots li button:before {
    color: #000; /* Cor dos pontos de navegação */
  }
.slick-prev:before,
.slick-next:before {
  color: #5C4129; /* Altere para a cor desejada */
}

.slick-prev:hover:before,
.slick-next:hover:before {
  color: #5C4129; /* Cor quando o mouse está sobre a seta */
}