.card-produto {
    border: 1px solid #cbd5e0;
    border-radius: 16px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #ffffffcb;
}

.card-produto:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #fffffffb;
  }

.card-produto .produto-info {
    padding: 20px;
}

