.card-produto {
    border: 1px solid #e2e8f0;
    border-radius: 16px;
    overflow: hidden;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #ffffff;
    margin-bottom: 20px;
    width: 80%;
    max-width: 400px; /* Ajuste o tamanho máximo conforme necessário */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .card-produto:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);

  }

  .produto-info {
    padding: 20px;
  }

  .produto-nome {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .preco {
    font-size: 1.25rem;
    color: #4CAF50;
  }

  .btn-comprar {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border-radius: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    transition: background-color 0.3s ease;
  }

  .btn-comprar:hover {
    background-color: #45a049;

  }

  .btn-comprar svg {
    margin-right: 8px;
  }