.imagem {
    width: 30rem;
    margin-left: auto;
    margin-right: auto;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem div {
    border-radius: 100%;
    transition: ease 0.5s;
    width: 100vh;
}

.justificando {
    height: 100vh;
    padding-top: 20vh;
    padding-left: 15vh;
}

.segunda {
    position: relative;
    height: 100vh;
    background: #4C9F38;
    padding: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.avatar {
    display: flex;
    justify-content: space-between;
    padding-top: 2vh;
    width: 100%;
}

.avatar-item {
    position: relative;
}

.avatar img {
    width: 10rem;
    border-radius: 100%;
    transition: transform 0.3s, box-shadow 0.3s;
}

.avatar img:hover {
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.member-info {
    margin-top: 2rem;
    height: 10rem;
    background-color: rgb(172, 197, 171);
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 80%;
    text-align: center;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    opacity: 0;
    transform: translateY(10px);
    visibility: hidden;
}

.member-info.visible {
    opacity: 1;
    transform: translateY(0);
    visibility: visible;
}

.name {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.description {
    font-size: 1rem;
    color: #555;
}