* {
  margin: 0;
  padding: 0;
}

.App {
    text-align: center;
  }
  
  .App-header {
    background-color: #ff9900;
    min-height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }

  .App-footer {
    background-color: #ffa600;
    height: 30px;
    position: fixed;
    width: 100%;
  }
